*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

/* global var*/
:root {

    /* color*/
--orange:#FF6900;
--dark:#1A1A1A;
--green:#008000;
--red:#FF0000;
--white: #FFFFFF;

/* space */
--


--font-small:14px
--font-medium
--font-large

}

*{
    border: 1px solid black;
}
/* global rules*/
.container{
    width: 920px;
    margin: auto;
}
 [class*="link"] li{
    display: inline-block;
    list-style-type: none;
 }
 [class*="link"] li a{
    text-decoration: none;
 }
[class*="bar"]{
    display: flex;
    justify-content: space-between;
}

[class*="bar"] *{
    color: #FFFFFF;
}
header nav{
    background-color:#FF6900;
}

footer{
    background-color: #1A1A1A;
}
.nav-logo img{
    height: 1.6rem;
    
}

main .articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    flex-basis: 33%;
}
.card-img img{
    width: 100%;
}
